
*.ipch
*.log
*.pdb
*.tlog
*.ilk
*.recipe
*.db
Managed_cpp/.vs/Managed_cpp/v16/.suo
Managed_cpp/Dynasty_
Managed_cpp/Update
.vs/Managed_cpp_Cosmos/v16/.suo
*.obj
*.idb
Managed_cpp/x64/Debug/Managed_cpp.vcxproj.FileListAbsolute.txt
Managed_cpp/x64/Release/Managed_cpp.vcxproj.FileListAbsolute.txt
Managed_cpp/Release/Managed_cpp.vcxproj.FileListAbsolute.txt
Managed_cpp/Release/Managed_cpp.vcxproj.FileListAbsolute.txt
Managed_cpp/Debug/Managed_cpp.vcxproj.FileListAbsolute.txt
